<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <script defer src="js/fontawesome-all.js"></script>
	<link rel="shortcut icon" href="images/favicon.ico">

    <title>DemoToy</title>
    
    <style>
        <% if( typeof background !== 'undefined' ) { %>
            body {
                background-image: url('images/<%= background %>.png');
            }
            .transparent {
                background:#7f7f7f;
                background:rgba(255,255,255,0.5);
            }
        <% } %>
    </style> 
    
</head>
<body>

<div class="container">

	<div class="jumbotron">
		<div class="container">
  
		  <div class="row">
		    <div class="col-11">
	  			<h2 class="display-5">CloudPak for Watson AIOps </h2>
                <h1 class="display-2">🧸 DemoToy</h1>

		    </div>
		  </div>
		</div>
    	  <hr class="my-4">
	  <p class="display-6">CP4WAIOps Demo Control Center</p>
	  <p><%=version %></p>
	  <hr class="my-4">
	  <p>Currently being served up by pod: <%=pod%> <br/>
	  <%=sysInfoStr%> </p>
	</div>
    
    <div class="container" >
        <p>
            <a href="home">home</a> | 
            <a href="about">about</a>
        </p>
        <hr/>
        
        <div class="row">
            <div class="col-md-4">
            <p class="lead" style="color:<%=stateBookColor %>;font-weight: bolder;">About</p>

<p  style="color:white;font-weight: bold;">About DemoToy <%=version %></p>

<p  style="color:white;font-weight: normal;">This application is a simple Node.js application that is expected to run in a container deployed by kubernetes. It was created to help explore IBM CloudPak for Watson AIOps by allowing the user to simulate incidents on the demo applications.</p>
<p  style="color:white;font-weight: normal;">This app uses Bootstrap 4. All the files have been copied locally to this application so Internet connectivity is not required and can work in an air-gapped system.</p>
<p  style="color:white;font-weight: normal;">The app was written by by Niklaus Hirt (nikh@ch.ibm.com), very much based on the work done by Jim Conallen (jconallen@us.ibm.com) and is made available under the Apache 2.0 license. If you find any bugs, create an issue on the GitHub site, and we'll do what we can to fix.</p> 
            


         
        </div>
      
        
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
</body>
</html>
