<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <script defer src="js/fontawesome-all.js"></script>
	<link rel="shortcut icon" href="images/favicon.ico">

    <title>DemoToy</title>
    
    <style>
        <% if( typeof background !== 'undefined' ) { %>
            body {
                background-image: url('images/<%= background %>.png');
            }
            .transparent {
                background:#7f7f7f;
                background:rgba(255,255,255,0.5);
            }
        <% } %>
    </style> 
    
</head>
<body>

<div class="container">

	<div class="jumbotron">
		<div class="container">
  
		  <div class="row">
		    <div class="col-11">
	  			<h2 class="display-5">CloudPak for Watson AIOps </h2>
                <h1 class="display-2">🧸 DemoToy</h1>

		    </div>
		  </div>
		</div>
    	  <hr class="my-4">
	  <p class="display-6">CP4WAIOps Demo Control Center</p>
	  <p><%=version %></p>
	  <hr class="my-4">
	  <p>Currently being served up by pod: <%=pod%> <br/>
	  <%=sysInfoStr%> </p>
	</div>
    
    <div class="container" >
        <p>
            <a href="home">home</a> | 
            <a href="about">about</a>
        </p>
        <hr/>
        
        <div class="row">
            <div class="col-md-4">
                    <p class="lead" style="color:<%=stateBookColor %>;font-weight: bolder;">Bookinfo <%=stateBook %></p>


                    <form class="form-inline" method="GET" action="mergeBook">
                        <div class="input-group-prepend">
                            <button type="submit" class="btn btn-primary mb-2">🚀 Simulate Git Merge Pull</button>
                        </div>
                    </form>

                    <form class="form-inline" method="GET" action="simBookinfo">
                        <div class="input-group-prepend">
                            <button type="submit" class="btn btn-danger mb-2">💥 Simulate Outage!</button>			  
                        </div>
                    </form>


                    <form class="form-inline" method="GET" action="mitigateBookinfo">
                        <button type="submit" class="btn btn-success mb-2">✅ Mitigate Error</button>
                    </form>

            </div>
      
            <div class="col-md-4">
                    <p class="lead" style="color:<%=stateSockColor %>;font-weight: bolder;">Sockshop <%=stateSock %></p>


                    <form class="form-inline" method="GET" action="simSockshop">
                        <div class="input-group-prepend">
                            <button type="submit" class="btn btn-danger mb-2">💥 Simulate Outage!</button>			  
                        </div>
                    </form>


                    <form class="form-inline" method="GET" action="mitigateSockshop">
                        <button type="submit" class="btn btn-success mb-2">✅ Mitigate Error</button>
                    </form>

            </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
</body>
</html>
